.left{float: left}
.center{text-align: center}
.right {float: right}

.resumelistheaders{font-weight: bold}
.normaltext{font-weight: normal}


.bg{background-image: url(../images/lightblue.jpeg);
background-position: bottom right;
background-repeat: repeat}

.boldundercenter {font-weight: bold;
text-decoration: underline;
text-align: center}

.italic{font-style: italic;
font-size: 18}



